.search-container {
   padding: 30px 10px;
   display: flex;
   flex-direction: column;
}

.search-card {
   background-color: #e6f7ff;
   border-radius: 15px;
   padding: 30px 10px;
}

.search-card h1 {
   font-size: 22px;
   margin-bottom: 15px;
   width: fit-content;
}

.search-form {
   display: flex;
   flex-direction: column;
}

.username-input {
   color: #5c5858;
   font-size: 16px;
   padding-left: 10px;
   min-width: 280px;
   max-width: 300px;
   height: 40px;
   margin-bottom: 25px;
}

.search-card form button {
   width: 100px;
   height: 40px;
}

.search-card form button p {
   font-size: 16px;
   color: #ffffff;
   margin: 0px;
}

@media (min-width: 992px) {
   .search-container {
      padding: 50px 90px;
   }

   .search-card {
      padding: 50px 30px;
   }

   .search-card h1 {
      font-size: 38px;
   }
}
